<nav class="mx-auto flex flex-col items-center justify-center p-6 h-[100px] bg-white">
	<ul class=" flex gap-10 items-center h-[16px] ">
		<li>
			<a href="/" class="text-black hover:text-yellow-600 transition duration-500">Home</a>
		</li>
		<li>
			<a href="about" class="text-black hover:text-yellow-600 transition duration-500">About</a>
		</li>
		<li>
			<a href="contact" class="text-black hover:text-yellow-600 transition duration-500">Contact</a>
		</li>
		<li>
		<a href="post" class="text-black hover:text-yellow-600 transition duration-500">Post</a>
		</li>
	</ul>
</nav>
